{% if app.session.flashbag.get('success') is defined or
    app.session.flashbag.get('info') is defined or
    app.session.flashbag.get('warning') is defined or
    app.session.flashbag.get('danger') is defined %}

    {% for message in app.session.flashbag.get('success') %}
        <div class="alert-message alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message|raw }}
        </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('info') %}
        <div class="alert-message alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message|raw }}
        </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('warning') %}
        <div class="alert-message alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message|raw }}
        </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('danger') %}
        <div class="alert-message alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message|raw }}
        </div>
    {% endfor %}

{% endif %}